*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.divAppWrapper{
    max-width: 1000px;
    outline: 2px solid black;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 600px;
}

.carousel-container{
    display:flex;
    justify-content: space-between;
}

.carousel-master{
    font-size: 36px;
}

.Absolute-Center {
    margin-top: -30px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
  } 


.carousel-subheading{
    font-size: 18px;
    color:#808080;
    cursor: pointer;
}

.btn-submit{
    padding: 5px;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    background-color: #005695;
}


.blocktext{
    margin-top: 10px;
    text-indent: 40px;
    max-width: 220px;
    font-weight: 100;
    display: inline-block;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

.blocktext-bold{
    font-size: 18px;
    margin-top: 20px;
    max-width: 230px;
    display: block;
    font-weight: bolder;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}




.optionsContainer{
    display:flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
  .optionsContainer {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40%;
  }

  .divAppWrapper{
    height: 1500px;
  }

  .product-img{
    max-width: 55%;
  }
}

.name-container{
    display:flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

.option-dropdown{
    width: 180px;
    min-width: 180px;
    margin-top: 5px;
    padding: 5px;
}

.dropdown-lbl{
    font-size: 12px;
}

.product-img{
  max-width: 33%;
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }

  .fade-in-fast{
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }


  .fade-out{
    animation: fadeOut linear .55s;
    -webkit-animation: fadeOut linear .55s;
    -moz-animation: fadeOut linear .55s;
    -o-animation: fadeOut linear .55s;
    -ms-animation: fadeOut linear .55s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }




.animate-in-from-top{
  position:relative;
  animation: from-top 1s;
}

@keyframes from-top{
  0%{top:-40px;}
  100%{top:0px;}
}


.become-heading-from-right{
  position: relative;
  animation: become-heading-from-right .5s;
  /*animation: goLeft .5s;*/
  /*animation: color-change-to-black .5s;*/
  /*animation: sizeToHeading .5s;*/
}

.become-heading-from-left{
  position: relative;
  animation: become-heading-from-left .5s;
}


  @keyframes color-change-to-black {
    0% { color: #808080; }
    100% { color: #000; }
  }

  @keyframes sizeToHeading{
    0% { transform: scale(1); }
    100% { transform: scale(2.5); }
  }




  @keyframes become-heading-from-right{
    0%{right: 0px; transform:scale(1); color: #808080; }
    100%{right: 45%; transform:scale(2); color: #000;}
  }

  @keyframes become-heading-from-left{
    0%{left: 0px; transform:scale(1); color: #808080; }
    100%{left: 45%; transform:scale(2); color: #000;}
  }